.link{
    color: #1f6f78;
    margin-top: 50px;
}
.urlBox{
    border: 2px solid #1f6f78;
    height: 200px;
    width: 300px;
    margin-left: 560px;
    margin-top: 30px;
    box-shadow: 10px 10px 5px grey;
}
.back{
    background-color: #1f6f78;
    color: white;
    border: none;
    height: 30px;
    width:155px;
    font-size: large;
    margin-top: 50px;
    text-decoration: none;
    padding: 4px 10px;
    margin-left: 4px;
}