.prsnldetail,.linkdetail,.techdetail,.workdetail,.projectdetail,.degreedetail,.certificatedetail{
    color:black; 
    font-size:xx-large;
    padding: 4px;
    border: 1px solid black;
    margin-top: 2px;
    margin-bottom: 2px;
    /* margin-left: 3px; */
}
.prsnldetail:hover,.linkdetail:hover,.techdetail:hover,.workdetail:hover,.certificatedetail:hover,.projectdetail:hover,.degreedetail:hover{
    color:red;
    cursor: pointer;
}
.step{
    list-style-type: none;  
    padding: 0;             
    margin: 20px;    
    justify-content: center;         
    display: flex;        
    flex-direction: row; 
    align-items: flex-start; 
}

li {
    margin-right: 5px; 
} 
