.temp-box{
    border: 2px solid black;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 20px;
    height: auto;
    background-color: white;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
    color: black;
}
.edu{
    display: flex;
    padding-left: 3px;
    margin-bottom: 2px;
}
.techi {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-top: 2px;
}

.techi h3 {
    margin: 3px;
    color: black; 
}

.techi ul {
    display: flex;
    list-style: none;
}

.techi li {
    margin-right: 8px;
    color: black;
}
.savebtn{
    color: white;
    background-color:  #1f6f78;
    border: none;
    height: 30px;
    width: 100px;
    padding: 1px;
    margin: 2px;
    font-size: medium;
    cursor: pointer;
}




