.work{
    color: #1f6f78;
    margin-top: 50px;
}
.job-box{
    border: 2px solid  #1f6f78;
     padding: 20px;
     margin-left: 500px;
     margin-right: 500px;
     margin-top: 20px;
     border-radius: 4px;
     box-shadow: 10px 10px 5px grey;
    height: auto;
}
.job{
    color: #1f6f78;
}
.bullet{
    color: #1f6f78;
}
.AddMore-btn{
    color: white;
    background-color: #1f6f78;
    cursor: pointer;
    border: none;
    height: 30px;
    width: 90px;
    margin-top: 6px;
    font-size: medium;
    padding: 1px;
}
.remove-btn{
    color: white;
    background-color: #1f6f78;
    border: none;
    width: 65px;
    padding: 1px;
    height: 30px;
    margin-top: 3px;
    font-size: medium;
}
.remove-btn:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}